.container {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 0.85rem;
  color: var(--text-secondary);
  font-weight: 500;
  margin-bottom: 8px;
}

.grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.colorCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &.selected {
    border-color: var(--text-primary); /* Borda de destaque */
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}